

/* .payment__container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px;
    
  
  
    font-family: Arial, sans-serif;
  }
   */
  .payment__header {
   padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);
   
  }
  
  .payment{
 padding: 30px;
}
.flex{
  display: flex;
  gap: 20px;
  padding: 30px;
}
.flex h3{
  min-width: 300px;
}
.flx img{
  width: 80px !important;
}
.flex div{
  height: aut !important;
  border: none;
  border-radius: 0px;
}
.payment__card__container{
  max-width: 350px;
  width: 100%;
}
/* .payment__price{
  padding: 20px;
} */
/* .payment__price > div{
  display: flex;
  font-size: 20px;
  gap: 10px;
}
.payment__details button{
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: var(---primary-shade);
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}
.payment__details button:hover{
  background-color: var(---primary-shade);
} */

  /* .flex {
    display: flex;
    gap: 7rem;
    align-items: flex-start;
    font-size: 18px;
    font-weight: sans-serif;
    color: #111;
    font-weight: bold;
    min-width: 150px;
    margin: 0;
  line-height: 1.5;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  
  }
  .flex_1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;

  }

  .flex_review{
    width: 240px;       
    height: auto;      
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
  }
  .payment_img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  .payment_img img {
    width: 80px !important;
    height: auto !important;
    object-fit: contain;
    
    
}  

  .payment_card_container {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    
  }
  
  .payment_details {
    width: 100%;
  }
  
  .payment_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
  } */
  
  .payment__price p {
    font-size: 15px;
    font-weight: bold;
    color: #111;
  }
  
  button {
    background-color: #FFD814;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #F7CA00;
  }
  
  hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
  }
  .loading{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: rgb(52, 52, 52);
  }
  @media screen and (max-width:768px){
    .flex {
        flex-direction:column;
        align-items: flex-start;
    }
  }
  